body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4978e;
}

.envelope {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-180deg);
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 50vh solid #f88787; /* Triangle color */
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.5)); /* Shadow effect */
}

.heart {
    height: 70px;
    width: 70px;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;
}

.heart.spin-out {
    animation: spinFade 1s forwards;
}

@keyframes spinFade {
    0% {
        transform: rotate(-45deg) scale(1);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg) scale(2);
        opacity: 0;
    }
}

@keyframes heart {
    0%{
        transform: rotate(-45deg) scale(1.07);
    }

    80%{
        transform: rotate(-45deg) scale(1);
    }

    100%{
        transform: rotate(-45deg) scale(0.8);
    }

}

.heart:before {
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;

}

.heart:after {
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}

.letter {
    position: absolute;
    bottom: 10px; /* Position near the bottom */
    right: 15px; /* Position near the right */
    width:fit-content; /* Adjust to match your letter size */
    height:fit-content;
    padding: 20px;
}

.message {
    font-family: 'Times New Roman', serif;
    font-size: 50px;
    color: black;
}